<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/admin/general.css">
    <link rel="stylesheet" href="/css/admin/card.css">
    <script>
      tinymce.init({
        selector: 'textarea#editor',
        directionality: "rtl",
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic alignleft aligncenter alignright alignjustify | outdent indent | removeformat help',
        menubar: false,
      });
      
    </script>        
        <script>
          tinymce.init({
            selector: 'textarea#editor',
          });
        </script>

    <title>‍ پنل مدیریت </title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
     crossorigin="anonymous">
    </script>

    <header>
        <%- include('../components/adminNavbar') -%>
    </header>

    <div class="container container-fluid">
        <div class="row">

            <%- include('../components/adminLeftMenu') -%>

            <script>
                document.getElementById('addCard').style.backgroundColor = "rgba(4, 37, 36, 0.986)"
                document.getElementById('addCard').borderRadius = "5px"
            </script>

            <div class="col-10">
                <div class="col-11 mx-5 counter">
                    <div class="titleCounter">
                        <p>پیشخوان  >  کارت  >  افزودن کارت </p>
                    </div>
                    <div class="d-flex justify-content-start parsianDate">
                       <p><%= persianDate %></p>
                    </div>
                </div>

                <%- include('../components/validationError') -%>

                <div class="addProduct col-11 my-5 mx-5" id="main">
                    <div class="addtitle my-3 mx-2 col-8">
                        <img src="/icons/plus-square-black.svg"  alt="افزودن کارت ">
                        افزودن کارت
                    </div>
                    <div class="col-8 mx-5 addBody">
                        <form action="/admin-cPanel/card/newCard" method="POST">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-7">
                                        <label for="cardCategoryTitle">انتخاب دسته بندی :</label>
                                        <p id="cardCategoryTitle" class="mt-2"> برای آسانی در روند وارد سازی کارت ها لازم است در ابتدا دسته بندی مورد نظر را انتخاب نمایید. </p>
                                    </div>
                                    <div class="col-5 mt-3">
                                        <select class="form-select" name="cardCategory" id="cardCategory">
                                            <% Object.values(categoryTitles).forEach(categoryTitle => { %>
                                                <option> <%= categoryTitle.title %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-1">
                                    <div class="col-7">
                                        <label for="cardProductTitle">انتخاب محصول :</label>
                                        <p id="cardProductTitle" class="mt-2"> پس از انتخاب دسته بندی میبایست محصول مورد نظر را انتخاب کنید تا ادامه مراحل برای شما نمایان شود. </p>
                                    </div>
                                    <div class="col-5 mt-3">
                                        <select class="form-select" name="cardProduct" id="cardProduct">
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-1">
                                    <div class="col-7">
                                        <label for="cardFieldsTitle"> اطلاعات کارت : </label>
                                        <p id="cardFieldsTitle" class="mt-2"> در این بخش میبایست اطلاعات کارت مورد نظر را بصورت تکی و یا از طریق فایل آن ها را بصورت دسته جمعی وارد نمایید. </p>
                                    </div>
                                    <div class="col-5 my-3" id="formField">
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-1">
                                    <div class="col-7">
                                        <label for="cardStatusTitle"> وضعیت کارت : </label>
                                        <p id="cardStatusTitle" class="mt-2"> شما در این بخش میتوانید مشخص کنید که کارت های وارد شده چه وضعیتی داشته باشند . </p>
                                    </div>
                                    <div class="col-5 mt-3">
                                        <select class="form-select" name="cardStatus" id="cardStatus">
                                            <option> فعال </option>
                                            <option> غیر فعال </option>
                                            <option> فروخته شده </option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-1">
                                    <div class="col-11 mt-3 mx-5">
                                        <button type="submit" class="btn btn-success w-100"> ذخیره کارت</button>
                                    </div>
                                </div>

                                <script>
                                    var categorySelected = document.getElementById('cardCategory')
                                    window.addEventListener('load' , addRemoveOptions)
                                    categorySelected.addEventListener('change' , addRemoveOptions)

                                    function addRemoveOptions() {
                                    const products = JSON.parse('<%- JSON.stringify(products) %>')
                                    const cardProduct = document.getElementById('cardProduct')
                                    const length = cardProduct.options.length;
                                    for (i = length-1; i >= 0; i--) {
                                    cardProduct.options[i] = null;
                                    }
                                    Object.values(products).forEach(product=> {
                                        if( categorySelected.value === product.categoryTitle ) {
                                            const cardProduct = document.getElementById('cardProduct')
                                            const newOption = document.createElement('option')
                                            newOption.text = product.title
                                            cardProduct.add(newOption)
                                        }
                                        })
                                    }
                                </script>

                                <script>
                                    var productSelected = document.getElementById('cardProduct')
                                    var counter = 0
                                    window.addEventListener('load', addRemoveFields) 
                                    categorySelected.addEventListener('change', addRemoveFields) 
                                    productSelected.addEventListener('change', addRemoveFields) 
                                    
                                    function addRemoveFields() {
                                        {
                                        var input_tags = formField.getElementsByTagName('input')
                                        for(let i = 0; i < counter; i++){
                                            if(input_tags.length > 0) {
                                            formField.removeChild(input_tags[(input_tags.length) - 1]);
                                            }
                                        }
                                        const products = JSON.parse('<%- JSON.stringify(products) %>')
                                        Object.values(products).forEach(product => {                                            
                                            if( productSelected.value === product.title ) {
                                                Object.values(product).forEach(f => {
                                                   if(typeof(f) === "object") {
                                                    Object.values(f).forEach(v => {
                                
                                                        for(const [key, value] of Object.entries(v)) {
                                                            if ( `${key}` === "fieldName"){
                                                                var formfield = document.getElementById('formField')
                                                                var newField = document.createElement('input')
                                                                newField.setAttribute('type','text')
                                                                newField.setAttribute('id','cardFields')
                                                                newField.setAttribute('name','cardFields[]')
                                                                newField.setAttribute('class','form-control enField mt-1')
                                                                newField.setAttribute('size',50)
                                                                newField.setAttribute('placeholder',`${value}`)
                                                                formField.appendChild(newField);
                                                                counter++
                                                            }
                                                        }
                                                    })
                                                  }
                                                })
                                            }
                                        })                                        
                                    } 
                                    }
                                </script>

                              

            
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    <footer>
    </footer>
</body>
</html>

<script>
    const accHeading = document.querySelectorAll(".accordion");
    const accPanel = document.querySelectorAll(".accordion-panel");

    for (let i = 0; i < accHeading.length; i++) {
        // Execute whenever an accordion is clicked 
        accHeading[i].onclick = function() {
            if (this.nextElementSibling.style.maxHeight) {
            hidePanels();     // Hide All open Panels 
            } else {
            showPanel(this);  // Show the panel
            } 
        }
    }
</script>

<script>
     window.addEventListener('load', ()=> {
            showPanel(accHeading[4])
        }
    )
</script>

<script>
      // Function to Show a Panel
      function showPanel(elem) {
    hidePanels();
    elem.classList.add("active");
    elem.nextElementSibling.style.maxHeight = elem.nextElementSibling.scrollHeight + "px";
    }
</script>
<script>
     // Function to Hide all shown Panels
     function hidePanels() {
    for (let i = 0; i < accPanel.length; i++) {
        accPanel[i].style.maxHeight = null;
        accHeading[i].classList.remove("active");
    }
    }
</script>

