<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/general.css">
    <link rel="stylesheet" href="/css/admin/product.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/80x3erofelj42tetslrvjmzbgw88p0b4e1ry5ipmkcc4ycfs/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: 'textarea#editor',
        directionality: "rtl",
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic alignleft aligncenter alignright alignjustify | outdent indent | removeformat help',
        menubar: false,
      });
      
    </script>        
        <script>
          tinymce.init({
            selector: 'textarea#editor',
          });
        </script>

    <title>‍ پنل مدیریت </title>
</head>
<body onload="getCheckBoxValue()">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
     crossorigin="anonymous">
    </script>

    <header>
        <%- include('../components/adminNavbar') -%>
    </header>

    <div class="container container-fluid">
        <div class="row">
            <%- include('../components/adminLeftMenu') -%>

            <script>
                document.getElementById('showProducts').style.backgroundColor = "rgba(4, 37, 36, 0.986)"
                document.getElementById('showProducts').borderRadius = "5px"
            </script>

            <div class="col-10">
                <div class="col-11 mx-5 counter">
                    <div class="titleCounter">
                        <p>پیشخوان  >  محصولات  >  افزودن محصول </p>
                    </div>
                    <div class="d-flex justify-content-start parsianDate">
                       <p><%= persianDate %></p>
                    </div>
                </div>

                <div class="addProduct col-11 my-5 mx-5" id="main">
                    <%- include('../components/validationError') -%>
                    <div class="addtitle my-3 mx-2 col-8">
                        <img src="/icons/plus-square-black.svg"  alt="افزودن محصول ">
                        افزودن محصول
                    </div>
               
                    <div class="addBody col-8 mx-5">
                        <form action="/admin-cPanel/product/editProduct/<%= product.id %>?_method=PUT"
                             method="POST" enctype="multipart/form-data">
                          <div class="row">
                            <div class="col-8">
                                <input type="text" name="productName" value="<%= product.productName %>" id="productName" list="productNameList" class="form-control mt-3 list" placeholder="نامک محصول">
                                <span class="badge bg-secondary nameAddressBadge" id="namak">http://localhost/admin-cPanel/product/<%= product.productName %></span>
                                <p class="mt-5 text-secondary">
                                    از نامک محصول برای ساخت آدرس صفحه محصول استفاده میشود .
                                </p>
                                <p class="text-secondary">
                                    این موضوع  با توجه به باکس رنگی بهتر نمایان میشود .
                                </p>
                            </div>
                            <div class="col-4 fileUloadArea">
                                <div class="imageUpload mx-auto" id="file" >
                                    <img class="categoryImage" id="output" src="<%= product.image %>" >
                                </div>

                                <input type="file" name="image" class="form-control" onchange="loadFile(event)" hidden></input>
                                <input type="submit" id="submit" class="btn btn-success mt-2 btnSubmit" value="ذخیره محصول">
                            </div>
                            <div class="row mt-3">
                                <input type="text" name="title" value="<%= product.title %>" class="form-control" id="categoryTitle" placeholder="عنوان محصول">
                                <div class="form-group mt-3">
                                    <textarea name="description" id="editor" class="form-control" cols="30" rows="10"><%= product.description %></textarea>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-5 mt-4 me-3 productOptions1">
                                    <label class="me-5" for="selectCategory">انتخاب دسته بندی :</label>
                                <select id="selectCategory" name="category" class="selectCategory me-5 form-select">
                                         <% Object.values(categoryTitles).forEach((category) => { %>
                                            <option> <%= category.title %> </option>
                                        <% }) %>
                                    </select>  
                                </div>
                                
                                <div class="col-5 mt-4 me-3 productOptions1">
                                    <label class="me-5" for="productPrice">قیمت محصول :</label>
                                    <p class="me-5 mt-1">قیمت محصول بر حسب تومان می باشد .</p>
                                    <input type="text" class="me-5 form-control textPrice" name="price" value="<%= product.price %>" id="productPrice">
                                    <p class="mt-2 me-5" id="persianPrice"></p>
                                </div>
                            </div>

                            <script type="text/javascript" src="/wordifyfa-master/dist/wordifyfa.js">
                            </script>
                            <script>
                                const persianPrice = document.getElementById('persianPrice')
                                const productPrice = document.getElementById('productPrice')
                                window.addEventListener('load', ()=> {
                                    const defaultValue = productPrice.value
                                    persianPrice.innerText = wordifyfa(defaultValue) + " تومان "
                                })

                            productPrice.addEventListener('keyup', (event)=> {
                                const newPrice = productPrice.value
                                persianPrice.innerText = wordifyfa(newPrice) + " تومان "
                            })
                            </script>


                            <div class="row">
                                <div class="col-6 mt-4 me-3 productOptions2">
                                    <label class="me-5" for="productPrice"> اکانت مدت دار : </label>
                                    <p class="mx-5 mt-2"> درصورتی که میخواهید مدت زمان فعال داشته باشد و پس از مدت مشخصی غیرفعال شود ، تعداد روز های مورد نظر را وارد کنید مثلا برای اکانت ماهانه بر روی 30 بگذارید.</p>
                                    <p class="mx-5"> در صورتی که نمیخواهید از این قابلیت استفاده کنید آن را بر روی 0 تنظیم کنید. </p>
                                    <input type="text" class="me-5 form-control textPrice" name="POT" value="<%= product.POT %>" id="productPrice">
                                </div>
                                <div class="col-5 mt-4 me-3 productOptions2">
                                    <label class="me-5" for="productPrice"> دسترسی در سایت : </label>
                                    <p class="mx-5 mt-2">با انتخاب گزینه غیرقابل دسترسی ، بازدیدکنندگان نمیتوانند به این صفحه دسترسی پیدا کنند.</p>                                    
                                    <div class="form-check form-switch mt-1">
                                        <input class="form-check-input me-5 float-end" onclick="checkAccessible()" style="width: 60px; height: 30px;" type="checkbox" id="mySwitch" name="accessible" value="true">
                                        <label class="me-5 mt-1 float-end" id="mySwitchLable" for="mySwitch"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-11 mt-4 me-3 productOptions3" id="addField">
                                    <label class="me-5" for="newfild"> تنظیمات مربوط به فیلد های کارت های محصول : </label>
                                    <p class="mx-5 mt-2"> در این بخش فیلد های مرتبط با کارت های این محصول را انتخاب میکنید ، مثلا درصورتی که قصد فروش اکانت های کریو را دارید میتوانید سه فیلد آدرس سرور ، نام کاربری ، پسورد را قرار دهید. </p>
                                    <div class="my-3 position-absolute col-10">
                                    <table class="table table-bordered mx-5 col-12 text-center align-middle">
                                        <thead>
                                          <tr>
                                            <th class="col-8" scope="col"> فیلد های محصول </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <div class="container">
                                            <tr>
                                                <td class="col-8">
                                                    <div id="formField">
                                                        <input type="text" name="fields[]" id="fields" class="form-control" placeholder="نام فیلد">
                                                    </div>
                                                </td>
                                            </tr>
                                           <tr>
                                            <script>
                                                const fields = "<%= purefieldNames %>"
                                                const arrayF = fields.split(",")
                                                if(fields){
                                                    const lengthFields = "<%= purefieldNames.length %>"

                                                     window.addEventListener('load', async ()=> {
                                                    
                                                     if(lengthFields == 1) {
                                                        document.getElementById('fields').value
                                                         = arrayF[0]
                                                    } else {
                                                        document.getElementById('fields').value = arrayF[0]
                                                        for (var i = 1; i< lengthFields; i++) {
                                                            let formField = document.getElementById('formField')
                                                            const fieldsLength = formField.getElementsByTagName('input')

                                                                const firstFieldValue = document.getElementById('fields').value
                                                                let lastfieldValue = formField.lastChild.value
                                                                if(firstFieldValue !== "" && lastfieldValue !== ""){
                                                                let newfield = document.createElement('input')
                                                                newfield.setAttribute('type', 'text')
                                                                newfield.setAttribute('name', 'fields')
                                                                newfield.setAttribute('class', 'form-control mt-1')
                                                                newfield.setAttribute('id', 'fields')
                                                                newfield.setAttribute('value', `${arrayF[i]}`)
                                                                newfield.setAttribute('placeholder', 'نام فیلد')
                                                                formField.appendChild(newfield)

                                                                let divAddFieldHeight = document.getElementById('addField').offsetHeight
                                                                document.getElementById('addField').style.height = divAddFieldHeight + 42 + 'px'
                                                                let divMainHeight = document.getElementById('main').offsetHeight
                                                                document.getElementById('main').style.height = divMainHeight + 42 + 'px'
                                                                }

                                                        }
                                                    }
                                                })
                                            }
                                            </script>
                                           </tr>
                                            <tr>
                                                <td>
                                                    <div class="row justify-content-center">
                                                        <div class="col-1">
                                                            <span onclick="addNewField()" class="btn btn-success"
                                                                data-toggle="tooltip" data-placement="bottom" title="اضافه کردن فیلد">
                                                                <img src="/icons/plus-square-small.svg" alt="remove">
                                                            </span>
                                                        </div>
                                                        <div class="col-1">
                                                            <span onclick="removeNewField()" class="btn btn-danger"
                                                                data-toggle="tooltip" data-placement="bottom" title="حذف کردن فیلد">
                                                                <img src="/icons/trash-2.svg" alt="remove">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                             </div>
                        </div>

    <footer>
    </footer>
</body>
</html>

<script>
    function getCheckBoxValue() {
        const checkValue = "<%= JSON.parse(JSON.stringify(product.accessible)) %>"
        if(checkValue === "true") {
            document.getElementById('mySwitch').checked = true
            document.getElementById('mySwitchLable').innerText = "در دسترس"
        } else {
            document.getElementById('mySwitch').checked = false
            document.getElementById('mySwitchLable').innerText = "خارج از دسترس"
        }
    }
</script>

<script>
    window.addEventListener('load', (event)=> {
        const selectedItem = String("<%= product.categoryTitle %>")
        document.getElementById('selectCategory').value = selectedItem
    })
</script>

<script>
    function checkAccessible() {
    document.getElementsByName('mySwitch').value = document.getElementById('mySwitch').checked
    const switchValue = document.getElementsByName('mySwitch').value
    if(switchValue) {
     document.getElementById('mySwitchLable').innerText = "در دسترس"
     document.getElementsByName('mySwitch').checked = true
    } else {
     document.getElementById('mySwitchLable').innerText = "خارج از دسترس"
     document.getElementsByName('mySwitch').checked = false
    }
 }
 </script>

<!-- <script>
    document.getElementById("output").addEventListener("load", () => {
    document.getElementById("submit").disabled = false
       })
    addEventListener("DOMContentLoaded", (load) => {
        document.getElementById("submit").disabled = true
    })   
</script> -->

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
let wrapper = $('<div/>').css({'overflow':'hidden'});
let fileInput = $(':file').wrap(wrapper);

$('#file').click(function(){
    fileInput.click();
}).show();
</script>

<script>
var loadFile = function(event) {
var image = document.getElementById('output');
image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script>
    let formField = document.getElementById('formField')
    const fieldsLength = formField.getElementsByTagName('input')

    function addNewField() {
        const firstFieldValue = document.getElementById('fields').value
        let lastfieldValue = formField.lastChild.value
        if(firstFieldValue !== "" && lastfieldValue !== ""){
        let newfield = document.createElement('input')
        newfield.setAttribute('type', 'text')
        newfield.setAttribute('name', 'fields[]')
        newfield.setAttribute('class', 'form-control mt-1')
        newfield.setAttribute('id', 'fields')
        newfield.setAttribute('placeholder', 'نام فیلد')
        formField.appendChild(newfield)

        let divAddFieldHeight = document.getElementById('addField').offsetHeight
        document.getElementById('addField').style.height = divAddFieldHeight + 42 + 'px'
        let divMainHeight = document.getElementById('main').offsetHeight
        document.getElementById('main').style.height = divMainHeight + 42 + 'px'
        }
    }

    function removeNewField() {
        let inputTag = formField.getElementsByTagName('input')
        
        if( inputTag.length > 1 ) {
            formField.removeChild(inputTag[(inputTag.length) - 1])

            let divHeight = document.getElementById('addField').offsetHeight
            document.getElementById('addField').style.height = divHeight - 42 + 'px'
            let divMainHeight = document.getElementById('main').offsetHeight
            document.getElementById('main').style.height = divMainHeight - 42 + 'px'

        } else {
            document.getElementById('fields').value = ""
        }
    }

</script>

<script>
    const productName = document.getElementById('productName')
    const namak = document.getElementById('namak')

    const namakHandeler = function(text) {
        namak.innerText = 'http://localhost/admin-cPanel/product/' + text.target.value
    }

    productName.addEventListener('input', namakHandeler)
    productName.addEventListener('propertychange', namakHandeler)
</script>

<script>
    const accHeading = document.querySelectorAll(".accordion");
    const accPanel = document.querySelectorAll(".accordion-panel");

    for (let i = 0; i < accHeading.length; i++) {
        // Execute whenever an accordion is clicked 
        accHeading[i].onclick = function() {
            if (this.nextElementSibling.style.maxHeight) {
            hidePanels();     // Hide All open Panels 
            } else {
            showPanel(this);  // Show the panel
            } 
        }
    }
</script>

<script>
     window.addEventListener('load', ()=> {
            showPanel(accHeading[3])
        }
    )
</script>

<script>
      // Function to Show a Panel
      function showPanel(elem) {
    hidePanels();
    elem.classList.add("active");
    elem.nextElementSibling.style.maxHeight = elem.nextElementSibling.scrollHeight + "px";
    }
</script>
<script>
     // Function to Hide all shown Panels
     function hidePanels() {
    for (let i = 0; i < accPanel.length; i++) {
        accPanel[i].style.maxHeight = null;
        accHeading[i].classList.remove("active");
    }
    }
</script>




