<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/80x3erofelj42tetslrvjmzbgw88p0b4e1ry5ipmkcc4ycfs/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="/css/categoryPage.css">
    <title><%= category.title%></title>
</head>
<body>
    <div class="container">
        <div class="imageFrame">
            <img src="/pictures/digitalMarketing.jpg" class="mainImage" alt="imageFrame">
            <div class="titleFrame">
                <h1><%= category.title %></h1>
            </div>
        </div>    
            <div class="description" id="description"></div>
            <div class="products" id="products">
                <% Object.values(products).forEach(product => { %>
                    <div class="items">
                        <img src= <%= product.image %> alt="logo">
                        <p class="title"> <%= product.title %> </p>
                        <p class="price">
                            <img src="/icons/dollar-sign.svg" alt="price">
                            قیمت : <%= product.price %> تومان </p>
                            <span> افزودن به سبد </span>
                    </div>
                <% }) %>
            </div>
    </div>
</body>


<script>
    window.addEventListener("load", (event) => {
        let description = `<%= String(category.description) %>`
        $('#description').html(
  // create an element where the html content as the string
  $('<div/>', {
    html: description
  // get text content from element for decoded text  
  }).text()
)
    })
</script>
