<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/80x3erofelj42tetslrvjmzbgw88p0b4e1ry5ipmkcc4ycfs/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="/css/shop/categoryPage.css">
    <title><%= category.title%></title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm sticky-top navColor">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav me-5">
                  <li class="nav-item mx-2 my-3">
                    <a class="nav-link linkColor" href="/">صفحه اصلی</a>
                  </li>
                  <li class="nav-item dropdown mx-2 my-3" dir="rtl">
                    <a class="nav-link dropdown-toggle linkColor" role="button"
                     data-bs-toggle="dropdown" href="#">دسته بندی ها  </a>
                    <ul class="dropdown-menu dropdownMenu">
                        <% Object.values(categories).forEach((category => { %>
                                <li><a class="dropdown-item dropdownItem" href="/admin-cPanel/category/<%= category.categoryName %>/<%= category.id %>"> <%= category.title %> </a></li>
                        <% })) %>
                      </ul>
                  </li>
                  <li class="nav-item dropdown mx-2 my-3" dir="rtl">
                    <a class="nav-link dropdown-toggle linkColor" role="button"
                     data-bs-toggle="dropdown" href="#">ناحیه کاربر  </a>
                    <ul class="dropdown-menu dropdownMenu">
                            <li><a class="dropdown-item dropdownItem" href="#"> ناحیه کاربر </a></li>
                            <li><a class="dropdown-item dropdownItem" href="#"> ناحیه مدیریت </a></li>
                      </ul>
                  </li>   
                </ul>
    
                <ul class="navbar-nav me-auto me-5">
                    <li class="nav-item ms-3">
                        <a href="" class="nav-link linkColor">
                            <img src="/icons/shopping-bag-white.svg" alt="shopping">
                        </a>
                    </li>
                    <li class="nav-item ms-3">
                        <a href="" class="nav-link linkColor">
                            <img src="/icons/user1.svg" alt="shopping">
                        </a>
                    </li>
                    <li class="nav-item ms-5">
                        <button class="callButton">
                            <a href="" class="nav-link linkCallToMe">تماس با ما</a>
                        </button>
                    </li>
                </ul>
             </div>
            </div>
           </nav>

        <div class="imageFrame">
            <img src="/pictures/digitalMarketing.jpg" class="mainImage" alt="imageFrame">
            <div class="titleFrame">
                <h1><%= category.title %></h1>
            </div>
        </div>    
            <div class="description" id="description"></div>

            <div class="productFrame">
                <% Object.values(products).forEach( product => { %>
                    <a href="">
                        <div class="productItem">
                            <img src="<%= product.image %>" alt="productImage">
                            <p><%= product.title %></p>
                            <p class="price">
                                <img src="/icons/dollar-sign.svg" alt="price">
                                قیمت : <%= product.price %> تومان </p>
                                <span> افزودن به سبد </span>
                        </div>    
                    </a>
                <% } ) %>
                </div>

    </div>
</body>


<script>
    window.addEventListener("load", (event) => {
        let description = `<%= String(category.description) %>`
        $('#description').html(
  // create an element where the html content as the string
  $('<div/>', {
    html: description
  // get text content from element for decoded text  
  }).text()
)
    })
</script>
