<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/categoryPage.css">
    <title><%= category.title%></title>
</head>
<body>
    <div class="container">
        <div class="imageFrame">
            <img src="/pictures/digitalMarketing.jpg" class="mainImage" alt="imageFrame">
            <div class="titleFrame">
                <h1><%= category.title %></h1>
            </div>
            <div class="description" id="description">

            </div>
        </div>    
    </div>
</body>


<script>
    window.addEventListener("load", (event) => {
        let description = `<%= String(category.description) %>`
        $('#description').html(
  // create an element where the html content as the string
  $('<div/>', {
    html: description
  // get text content from element for decoded text  
  }).text()
)
    })
</script>

<!-- <script>
    window.addEventListener("load", (event) => {
        const description = "<%= JSON.stringify(category.description) %>"
        document.getElementById('description').text =""
    })
</script> -->

<!-- <script>
     window.addEventListener("load", (event) => {
        const description = "<%= JSON.stringify(category.description) %>"
        $('#des').html($('textarea').html().replace(/\n/g, "<br />"));
        })
</script> -->